<!doctype html>
<html>
<head>
    <title>Gamer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { padding-top:40px; }
    </style>
</head>
<body>
<div class="container">

      
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Tony Gamer</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

    <div class="text-center">
            <p>by <a href="http://www.tony.com">Tony</a>.</p>
    <img src="https://lh3.googleusercontent.com/-m6PZ3_bvS6c/AAAAAAAAAAI/AAAAAAAAACc/f5-0998bhUs/photo.jpg" alt="Mountain View" style="width:304px;height:228px;">

    
</div>
<div style="background-image:url(http://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/v2_article_large/public/2015/06/12/fallout-4-logo.JPG);width:900px;height:200px;color:white;font-size:18px;border:2px solid #ccc;padding:5px;">
This text appears in front of a repeating background image.
</div>




</body>
</html>
